[Unit]
Description=Display Messaging Service
After=google-startup-scripts.service

[Service]
ExecStart=/home/jenkins/display-messaging-service/server.js
Restart=always
User=jenkins
Group=jenkins
Environment=NODE_ENV=production
EnvironmentFile=/etc/display-messaging-service.env
WorkingDirectory=/home/jenkins/display-messaging-service

[Install]
WantedBy=multi-user.target
